if departments == null
    mixin department-list
        a(hx-get="/departments/list" hx-swap="outerHTML", hx-trigger="load")
if departments != null
    table.table.is-striped(style="min-width:320px;")
        tr
            th(colspan=2)
                input.input(name="q", value=q, placeholder="Search departments"
                    hx-get="/departments/list"
                    hx-target="closest table"
                    hx-swap="outerHTML"
                    hx-trigger="input changed delay:2s")
        tr
            th #
            th Name
    each d in departments
        tr
            td= d.getId()
            td= d.getName()
