if users == null
    mixin user-list
        table.table.is-striped(style="min-width:320px;")
            thead
                tr
                    th(colspan=2)
                        input.input(name="q", value=q, placeholder="Search users"
                            hx-get="/users/list"
                            hx-target=".table>tbody"
                            hx-swap="outerHTML"
                            hx-trigger="input changed delay:2s")
                tr
                    th #
                    th Name
            tbody(hx-get="/users/list" hx-swap="outerHTML", hx-trigger="load")
if users != null
    tbody
        each u in users
            tr
                td= u.getId()
                td= u.getName()
