mixin input-password(label, name, value)
  .field
    .control
      label.label(for=name)= label
      input.input(type="password", id=name, name=name,
          value=value)&attributes(attributes)
      if attributes.help
        p.help= attributes.help
