mixin input-text(label, name, value="", placeholder="", help="")
  .field
    .control
      label.label(for=name)= label
      input.input(type="text", placeholder=placeholder,id=name,  name=name, value=value)
      if help
        p.help= help