if groups == null
    mixin select-group(name, value)
        .field
            .control
                label.label(for=name) Group
                .select.is-fullwidth
                    select(id=name, name=name
                        hx-get="/groups/options?defaultValue=" + (value ?? 0)
                        hx-trigger="load")
else
    option(value=0) --Choose--
    each group in groups
        if group.id == defaultValue
            option(value=group.id selected)= group.name
        else
            option(value=group.id)= group.name
