mixin select-department(name, value)
    .field
        .control
            label.label(for=name) Department
            .select.is-fullwidth
                select(id=name, name=name 
                    hx-get="/departments/options?defaultValue="+(value ?? 0) 
                    hx-trigger="load")

