mixin select-group(name, value)
    .field
        .control
            label.label(for=name) Group
            .select.is-fullwidth
                select(id=name, name=name
                    hx-get="/groups/options?defaultValue=" + (value ?? 0)
                    hx-trigger="load")
